---
# Checks: "
#     *,
#     -abseil-*,
#     -altera-*,
#     -android-*,
#     -fuchsia-*,
#     -google-*,
#     -llvm*,
#     -modernize-use-trailing-return-type,
#     -zircon-*,
#     -readability-else-after-return,
#     -readability-static-accessed-through-instance,
#     -readability-avoid-const-params-in-decls,
#     -cppcoreguidelines-non-private-member-variables-in-classes,
#     -misc-non-private-member-variables-in-classes,
# "
Checks: "
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -darwin-*,
    -fuchsia-*,
    -google-*,
    -linuxkernel-*,
    -llvm*,
    -mpi*,
    -objc-*,
    -openmp-*,
    -zircon-*,
    -modernize-use-trailing-return-type,
    -bugprone-*,
    bugprone-*string*,
    -cert-dcl37-c,
    -cert-dcl50-cpp,
    -cert-dcl51-cpp,
    -cert-dcl58-cpp,
    -cert-err33-c,
    -cert-err34-c,
    -cert-err52-cpp,
    -cert-oop54-cpp,
    -cert-err58-cpp,
    -cert-err60-cpp,
    -cert-flp30-c,
    -cert-mem57-cpp,
    -cert-msc24-c,
    -cert-msc33-c,
    -cert-msc50-cpp,
    -cert-msc51-cpp,
    -cert-oop11-cpp,
    -cert-oop57-cpp,
    -cert-oop58-cpp,
    -clang-*,
    -concurrency-*,
    -hicpp-*,
    -misc-*,
    -performance-*,
    performance-*string*,
    -readability-*,
    readability-*string*,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    cppcoreguidelines-explicit-virtual-functions,
    -cppcoreguidelines-init-variables,
    cppcoreguidelines-interfaces-global-init,
    -cppcoreguidelines-macro-usage,
    cppcoreguidelines-missing-std-forward,
    -cppcoreguidelines-narrowing-conversions,
    cppcoreguidelines-no-malloc,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-owning-memory,
    cppcoreguidelines-prefer-member-initializer,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-pro-type-member-init,
    cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-rvalue-reference-param-not-moved,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-use-default-member-init,
    -cppcoreguidelines-virtual-class-destructor,
    -modernize-avoid-c-arrays,
    -modernize-min-max-use-initializer-list,
    -modernize-return-braced-init-list,
    -modernize-type-traits,
    -modernize-use-default-member-init,
    modernize-use-emplace,
    -modernize-use-equals-default,
    -modernize-use-nodiscard,
    modernize-use-nullptr,
    -modernize-use-override,
    -modernize-use-ranges,
    -modernize-use-std-numbers,
    -modernize-use-std-print,
    -modernize-use-designated-initializers,
    modernize-pass-by-value,
"
# Checks: "
#     -*,
#     clang-diagnostic-header-guard,
#     clang-diagnostic-logical-op-parentheses,
#     cppcoreguidelines-misleading-capture-default-by-value,
#     modernize-concat-nested-namespaces,
# "
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     file
ExtraArgs:
    - -std=c++2b
    - -Wno-unknown-warning-option
